<div>

    <span class="label-danger">{{model.AddNewElementInfo}}</span>
    <table class="table">
        <thead>
        <tr class="success">

            <td>Kategoria</td>
            <td>Podkategoria</td>
            <td>Opis</td>
            <td>Czas</td>
            <td>Power</td>
            <td></td>
        <tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in model.treningEntryArray">


            <td>{{item.Cat.Name}}</td>
            <td>{{item.Subcat.Name}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Duration}}</td>
            <td>{{item.Power}}</td>
            <td>

            </td>
        </tr>
        </tbody>

        <tr>

            <td>
                <select class="input-medium" name="repeatSelect" id="repeatSelect"
                        ng-model="model.NewElement.Cat.id">
                    <option ng-repeat="option in model.CategoryData" value="{{option.id}} ">{{option.Name}}
                    </option>
                </select>
            </td>
            <td>
                <select class="input-medium" name="repeatSelect" id="repeatSelect2"
                        ng-model="model.NewElement.Subcat.id">
                    <option ng-repeat="option in model.SubcategoryData" value="{{option.id}}">
                        {{option.Name}}
                    </option>
                </select>
            </td>

            <td><input class="input-xlarge" type="text"
                       ng-model="model.NewElement.Description"></td>
            <td><input class="input-mini" type="number"
                       ng-model="model.NewElement.Duration"></td>
            <td>
                <div  style="float:left;">


                    <div style="display:inline-block">
                        <input class="input-mini" max="5" min="1" type="number"
                               ng-model="model.NewElement.Power">
                        <power-Pickup items="model.PowerValues" selected-Value="model.NewElement.Power"></power-Pickup>
                    </div>
                </div>

            </td>

            <td>
                <button type="button" class="btn btn-success"
                        ng-click="model.AddNewElement()">
                    Dodaj
                </button>
            </td>

        </tr>

    </table>

</div>



