<div>
    {{DayEntryMainViewCtrl.message}}

    <ul class="thumbnails">
        <li ng-repeat="day in DayEntryMainViewCtrl.DayEntryMainViewData">

            <div class="row session">


                <div class="well span9">
                    <h3 class="well-title">
                        <div>{{day.DateD | date:'yyyy-MM-dd'}}
                            <span class="label label-success" style="vertical-align: middle">{{day.WakeUp}}</span> -
                            <span class="label label-success" style="vertical-align: middle">{{day.SleepAt}}</span>
                        </div>

                    </h3>


                    <!--<voting-thing uptreningpower="MainListCtrl.upTreningPower(entry)" downtreningpower="MainListCtrl.downTreningPower(entry)" count="entry.Power" ></voting-thing>-->

                    <div ng-repeat="trening in DayEntryMainViewCtrl.TreningEntryMainViewData | filter: day.id as D_ID">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" ng-class="DayEntryMainViewCtrl.GetClassforTreningForButton(DayEntryMainViewCtrl.GetCategoryName(trening.CategoryID))">
                                {{DayEntryMainViewCtrl.GetCategoryName(trening.CategoryID)}} - {{DayEntryMainViewCtrl.GetSubCategoryName(trening.SubcategoryID)}} - {{trening.T_ID }}
                            </button>
                        </div>
                        </br>

                        <span>Duration: {{trening.Duration }}</span><br/>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 aria-valuenow="(trening.Power/5)*100" aria-valuemin="0" aria-valuemax="100"
                                 style="text-align: center;width: {{(trening.Power/5)*100}}%;background-color: green">
                                <span class="sr-only">Power: {{trening.Power}}/5</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>

</div>